
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Poppins", sans-serif;
    border: 0px;
    
}

body{
    background-color: rgb(208, 195, 195);
    
}

.side{
    color: rgb(232, 224, 224);
}

.card{
    width: 28rem;
    height: 44rem;
    border-radius: 16px;
    background-image: linear-gradient(180deg,rgba(75, 144, 173, 1) 50%, rgba(84, 194, 135, 1) 100%);
    margin: 10px auto;
}

.search{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 26px;
}

.nav {
    display: flex;
    margin: 0px 20px;
    justify-content: space-between;
    padding: 40px 6px; 
}

.nav input{
    border-radius: 26px;
    width: 20rem;
    color: rgb(104, 104, 104);
    padding-left: 20px;
    font-size: 22px;
    font-weight: 600;
}

.nav input::placeholder{
    padding-left: 20px;
    font-size: 16px;
    font-size: 16px;
}

.search img{
    height: 25px;
    padding: 12px 0px 0px 14px;
}

.info{
    padding-left: 28px;
}

.info h2{ 
    margin-bottom: -8px;
}

.info h3{
    font-size: 20px;
    padding-left: 2px;
}

.weatherJpg img{
  height: 12rem;
}


.weatherJpg {
    margin:auto;
    width: 200px;
}

.midText{
    text-align: center;
}

.midText h1 {
font-size: 3rem;
margin-bottom: -10px;
}

.midText h3 {
 font-size: 0.9rem;
}

.midText h2 {
font-size: 2.5rem;
font-weight: 600;
padding-top: 8px;
}

.lastText {
    display: flex;
    padding: 40px 30px 0px 30px;
    justify-content: space-between;
}

.humidity img{
height: 30px;
padding-right: 10px;
}

.wind img{
height: 30px;
padding-right: 10px;
}

.humidity{
    display: flex;
}

.wind{
    display: flex;
}

.footer{
    display: flex;
    justify-content: space-around;
}

.footer p:nth-of-type(2){
    margin-left: 40px;
}

.placeJs::placeholder{
 color: red;
 font-weight: 700;
 font-size: 16px !important;
 padding-left: 2px !important;
}

.errJs{
    background-color: rgba(255, 255, 255, 0.955);
    height: 50px;
    width: 340px;
    position: relative;
    bottom: 20px;
    left: 26px;
    border-radius: 12px;
    color: rgb(79, 79, 79);
    box-sizing: border-box;
    padding: 2px 0px 0px 10px;
    font-size: 17px;
    font-weight: 700;   
}